// colors
$accentColor = #AA2200;
$searchColor = #BA4336;
$textColor = #000000;
$codeBgColor = #282c34;

// layout
$headerHeight = 95px;
$headerPadding = 5px 24px;

$sidebarWidth = 300px;
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;