
.metroBig { font-size:36px; line-height:36px; }
.live-tile, .list-tile
{
  color:#fff;
	float:left;
	height: 109px;
	margin:0px;
	overflow:hidden;
	position:relative;
	width: 317px;
}
.live-tile.two-wide, .list-tile.two-wide { width:390px; }
.live-tile.two-tall, .list-tile.two-tall { height:390px; }
.live-tile img, .list-tile img { border:none; }
.live-tile.me>.metroBig { padding-top:45px; }

.live-tile,.live-tile>div,.list-tile>div
{   /* ensure elements on backside don't continue to take focus */
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}

.live-tile>div,.list-tile>div
{    
	top:0px;
	left:0px;
	margin:0px;
	height:100%;
	width:100%;
	position:absolute;
	z-index:20;
}
.list-tile>div
{
	position:relative;
}

img.full , a.full
{
	display:block;
	margin:0px;
	height:100%;
	width:100%;    
}
.list-tile>div { background-color:transparent; }

.live-tile>.back, .live-tile>.slide-back,.live-tile>.flip-back, .flip-list .flip-back
{
	position:absolute;
	z-index:10;	
}
/*  ========== flip-list Styles ==========
	.flip-list
	---li
	------div.flip-front
	------div.flip-back
*/
.flip-list  
{
	padding:0px; 
	margin:0px;	
}
.list-tile .flip-list 
{
	height:100%;
	width:100%;
}
.flip-list>li>a
{
	border:none;
	outline:none;
	text-decoration:none;
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
}

.flip-list img  
{
	border:none;
	outline:none;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}
.flip-list>li 
{
	height: 60px;
	float: left;
	list-style-type:none;
	margin: 0px;
	outline:none;
	padding: 0px;
	position: relative;
	width: 60px;
}

.flip-list>li>div 
{
	border:none;
	background: white;
	height: 100%;
	left: 0px;
	margin:0px;
	overflow: hidden;
	position: absolute;
	padding:0px;
	top: 0px;
	width: 100%;
	z-index:20;
}

.flip-list>li>div.flip-back 
{
   height:0px;
}




/***** Theme Definitions *****/
.light { background-color:#fff; color:#000; }
.dark { background-color:#000; color:#fff; }
.light.accent { background-color:#fff; }
.dark.accent { background-color:#000; }
.light .appbar { background-color:#dfdfdf; }
.dark .appbar { background-color:#212021; }
/*live tile accent colors */
.amber .accent, .amber .live-tile .accent,
.amber .live-tile>div, .amber .list-tile>div,
.amber .live-tile>div.slide-back, .amber .flip-list>li>div { background-color:rgb(241, 163, 11); }
.amber .accentColor,.amber.accentColor {  color:rgb(241, 163, 11); }
.amber .accentHover:hover,.amber .accentHover a:hover,
.accentHover .amber a:hover, .amber.accentHover a:hover  {  color:rgb(241, 163, 11); }
.amber .accentBorder,.amber.accentBorder {  border-color:rgb(241, 163, 11); }
.amber .accentVisited:visited,.amber .accentVisited a:visited {  color:rgb(241, 163, 11); }
.amber.accentLink,.amber.accentLink:link,.amber.accentLink:hover,.amber.accentLink:visited,
.amber.accentVisited:visited,.amber.accentHover:hover,
.amber .accentLink,.amber .accentLink:link,.amber .accentLink:hover,.amber .accentLink:visited {  color:rgb(241, 163, 11); }

.blue .accent, .blue .live-tile .accent,
.blue .live-tile>div, .blue .list-tile>div,
.blue .live-tile>div.slide-back, .blue .flip-list>li>div { background-color:rgb(27,161,226); }
.blue .accentBorder,.blue.accentBorder {  border-color:rgb(27,161,226); }
.blue .accentColor,.blue.accentColor {  color:rgb(27,161,226); }
.blue .accentHover:hover,.accentHover .blue a:hover, 
.blue .accentHover a:hover, .blue.accentHover a:hover   {  color:rgb(27,161,226); }
.blue .accentVisited:visited,.blue .accentVisited a:visited {  color:rgb(27,161,226); }
.blue.accentLink,.blue.accentLink:link,.blue.accentLink:hover,.blue.accentLink:visited,
.blue.accentVisited:visited,.blue.accentHover:hover,
.blue .accentLink,.blue .accentLink:link,.blue .accentLink:hover,.blue .accentLink:visited {  color:rgb(27,161,226); }

.brown .accent, .brown .live-tile .accent,
.brown .live-tile>div, .brown .list-tile>div,
.brown .live-tile>div.slide-back, .brown .flip-list>li>div { background-color:rgb(160, 80, 0); }
.brown .accentBorder,.brown.accentBorder { border-color:rgb(160,80,0); }
.brown .accentColor,.brown.accentColor { color:rgb(160,80,0); }
.brown .accentHover:hover,.brown .accentHover a:hover,.brown.accentHover a:hover  { color:rgb(160,80,0); }
.brown .accentVisited:visited,.brown .accentVisited a:visited { color:rgb(160,80,0); }
.brown.accentLink,.brown.accentLink:link,.brown.accentLink:hover,.brown.accentLink:visited,
.brown.accentVisited:visited,.brown.accentHover:hover,.accentHover .brown a:hover,
.brown .accentLink,.brown .accentLink:link,.brown .accentLink:hover,.brown .accentLink:visited { color:rgb(160,80,0); }

.cobalt .accent, .cobalt .live-tile .accent,
.cobalt .live-tile>div, .cobalt .list-tile>div,
.cobalt .live-tile>div.slide-back, .cobalt .flip-list>li>div { background-color:rgb(0, 80, 239); }
.cobalt .accentBorder,.cobalt.accentBorder { border-color:rgb(0, 80, 239); }
.cobalt .accentColor,.cobalt.accentColor { color:rgb(0, 80, 239); }
.cobalt .accentHover:hover,.cobalt .accentHover a:hover,.cobalt.accentHover a:hover  { color:rgb(0, 80, 239); }
.cobalt .accentVisited:visited,.cobalt .accentVisited a:visited { color:rgb(0, 80, 239); }
.cobalt.accentLink,.cobalt.accentLink:link,.cobalt.accentLink:hover,.cobalt.accentLink:visited,
.cobalt.accentVisited:visited,.cobalt.accentHover:hover,.accentHover .cobalt a:hover,
.cobalt .accentLink,.cobalt .accentLink:link,.cobalt .accentLink:hover,.cobalt .accentLink:visited { color:rgb(0, 80, 239); }

.crimson .accent, .crimson .live-tile .accent,
.crimson .live-tile>div, .crimson .list-tile>div,
.crimson .live-tile>div.slide-back, .crimson .flip-list>li>div { background-color:rgb(162, 0, 37); }
.crimson .accentBorder,.crimson.accentBorder { border-color:rgb(162, 0, 37); }
.crimson .accentColor,.crimson.accentColor { color:rgb(162, 0, 37); }
.crimson .accentHover:hover,.crimson .accentHover a:hover,.crimson.accentHover a:hover  { color:rgb(162, 0, 37); }
.crimson .accentVisited:visited,.crimson .accentVisited a:visited { color:rgb(162, 0, 37); }
.crimson.accentLink,.crimson.accentLink:link,.crimson.accentLink:hover,.crimson.accentLink:visited,
.crimson.accentVisited:visited,.crimson.accentHover:hover, .accentHover .crimson a:hover,
.crimson .accentLink,.crimson .accentLink:link,.crimson .accentLink:hover,.crimson .accentLink:visited { color:rgb(162, 0, 37); }

.cyan .accent, .cyan .live-tile .accent,
.cyan .live-tile>div, .cyan .list-tile>div,
.cyan .live-tile>div.slide-back, .cyan .flip-list>li>div { background-color:rgb(27, 160, 225); }
.cyan .accentBorder,.cyan.accentBorder { border-color:rgb(27, 160, 225); }
.cyan .accentColor,.cyan.accentColor { color:rgb(27, 160, 225); }
.cyan .accentHover:hover,.cyan .accentHover a:hover,.cyan.accentHover a:hover  { color:rgb(27, 160, 225); }
.cyan .accentVisited:visited,.cyan .accentVisited a:visited { color:rgb(27, 160, 225); }
.cyan.accentLink,.cyan.accentLink:link,.cyan.accentLink:hover,.cyan.accentLink:visited,
.cyan.accentVisited:visited,.cyan.accentHover:hover,.accentHover .cyan a:hover,
.cyan .accentLink,.cyan .accentLink:link,.cyan .accentLink:hover,.cyan .accentLink:visited { color:rgb(27, 160, 225); }

.emerald .accent, .emerald .live-tile .accent,
.emerald .live-tile>div, .emerald .list-tile>div,
.emerald .live-tile>div.slide-back, .emerald .flip-list>li>div { background-color:rgb(0, 138, 0); }
.emerald .accentBorder,.emerald.accentBorder { border-color:rgb(0, 138, 0); }
.emerald .accentColor,.emerald.accentColor { color:rgb(0, 138, 0); }
.emerald .accentHover:hover,.emerald .accentHover a:hover,.emerald.accentHover a:hover  { color:rgb(0, 138, 0); }
.emerald .accentVisited:visited,.emerald .accentVisited a:visited { color:rgb(0, 138, 0); }
.emerald.accentLink,.emerald.accentLink:link,.emerald.accentLink:hover,.emerald.accentLink:visited,
.emerald.accentVisited:visited,.emerald.accentHover:hover,.accentHover .emerald a:hover,
.emerald .accentLink,.emerald .accentLink:link,.emerald .accentLink:hover,.emerald .accentLink:visited { color:rgb(0, 138, 0); }

.green .accent, .green.live-tile, .green .live-tile .accent,
.green .live-tile>div, .green .list-tile>div,
.green .live-tile>div.slide-back, .green .flip-list>li>div { background-color:rgb(51,153,51); }
.green .accentBorder,.green.accentBorder { border-color:rgb(51,153,51); }
.green .accentColor,.green.accentColor { color:rgb(51,153,51); }
.green .accentHover:hover,.green .accentHover a:hover,.green.accentHover a:hover  { color:rgb(51,153,51); }
.gr
